.flash-message {
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  background-color: #7FFF7F;  /* Зеленый цвет фона для успешных сообщений */
}

.error {
  background-color: #FF0000;  /* Красный цвет фона для сообщений об ошибках */
}